.RightSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navIcons {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.navIcons>img , .navIcons>svg {
    width: 30px;
    height: 30px;
}
.navIcons>a>img , .navIcons>a>svg {
    width: 30px;
    height: 30px;
}